/* .themify_builder_3677_row.module_row_0 Style */
.themify_builder_3677_row.module_row_0.module_row {
	background-image: url(https://themify.me/demo/themes/predesigned-rows/files/2017/05/visitors-1024x684.jpg);
	padding-top : 8%;
	padding-bottom : 8%
}
.themify_builder_3677_row.module_row_0.module_row>.builder_row_cover {
	background:linear-gradient( 327deg, rgba(21, 0, 255, 0.59) 0%, rgba(41, 134, 255, 0.65) 34%, rgba(5, 209, 255, 0.44) 98% )
}
.themify_builder_3677_row.module_row_0.module_row> div > .builder_row_cover {
	background:linear-gradient( 327deg, rgba(21, 0, 255, 0.59) 0%, rgba(41, 134, 255, 0.65) 34%, rgba(5, 209, 255, 0.44) 98% )
}

/* .module_row_0 .module_column_0.tb_3677_column Style */
.module_row_0 .module_column_0.tb_3677_column.module_column {
	text-align: center;
	
	color: rgba(255,255,255, 1.00);
	margin-right : 30px;
	margin-left : 30px
}
.module_row_0 .module_column_0.tb_3677_column.module_column h1 {
	
	color: rgba(255,255,255, 1.00)
}
.module_row_0 .module_column_0.tb_3677_column.module_column h2 {
	
	color: rgba(255,255,255, 1.00)
}
.module_row_0 .module_column_0.tb_3677_column.module_column h3:not(.module-title) {
	
	color: rgba(255,255,255, 1.00)
}
.module_row_0 .module_column_0.tb_3677_column.module_column h4 {
	
	color: rgba(255,255,255, 1.00)
}
.module_row_0 .module_column_0.tb_3677_column.module_column h5 {
	
	color: rgba(255,255,255, 1.00)
}
.module_row_0 .module_column_0.tb_3677_column.module_column h6 {
	
	color: rgba(255,255,255, 1.00)
}

.themify_builder .text-3677-0-0-0.module-text { margin-bottom: 20px;  } 
.themify_builder .buttons-3677-0-0-1.module.module-buttons { margin-bottom: 20px;  } 
/* .themify_builder_3677_row.module_row_1 Style */
.themify_builder_3677_row.module_row_1.module_row {
	background-image: url(https://themify.me/demo/themes/predesigned-rows/files/2017/05/awhCbhLqRceCdjcPQUnn_IMG_0249-1024x768.jpg);
	padding-top : 40px
}
.themify_builder_3677_row.module_row_1.module_row>.builder_row_cover {
	background:linear-gradient( 180deg, rgba(81, 163, 245, 0.93) 0%, rgba(137, 61, 219, 0.9) 98% )
}
.themify_builder_3677_row.module_row_1.module_row> div > .builder_row_cover {
	background:linear-gradient( 180deg, rgba(81, 163, 245, 0.93) 0%, rgba(137, 61, 219, 0.9) 98% )
}

@media screen and (max-width: 680px) {}
/* .module_row_1 .module_column_0.tb_3677_column Style */
.module_row_1 .module_column_0.tb_3677_column.module_column {
	
	color: rgba(255,255,255, 1.00)
}
.module_row_1 .module_column_0.tb_3677_column.module_column h1 {
	
	color: rgba(255,255,255, 1.00)
}
.module_row_1 .module_column_0.tb_3677_column.module_column h2 {
	
	color: rgba(255,255,255, 1.00)
}
.module_row_1 .module_column_0.tb_3677_column.module_column h3:not(.module-title) {
	
	color: rgba(255,255,255, 1.00)
}
.module_row_1 .module_column_0.tb_3677_column.module_column h4 {
	
	color: rgba(255,255,255, 1.00)
}
.module_row_1 .module_column_0.tb_3677_column.module_column h5 {
	
	color: rgba(255,255,255, 1.00)
}
.module_row_1 .module_column_0.tb_3677_column.module_column h6 {
	
	color: rgba(255,255,255, 1.00)
}

@media screen and (max-width: 680px) {/* .module_row_1 .module_column_0 .sub_row_1-0-0 Style */
.module_row_1 .module_column_0 .sub_row_1-0-0.module_subrow {
	text-align: center
}

}
@media screen and (max-width: 680px) {}
.themify_builder .buttons-3677-sub_row_1-0-0-1-1.module.module-buttons { margin-bottom: 40px;  } 
.themify_builder .buttons-3677-sub_row_1-0-0-1-1 .module-buttons .module-buttons-item a { background-color: #; background-color: ;  } 
.themify_builder .buttons-3677-sub_row_1-0-0-1-1 .module-buttons .module-buttons-item a:hover { background-color: #; background-color: ;  } 
/* .themify_builder_3677_row.module_row_2 Style */
.themify_builder_3677_row.module_row_2.module_row {
	padding-top : 8%;
	padding-bottom : 8%
}
.themify_builder_3677_row.module_row_2.module_row>.builder_row_cover {
	background:
}
.themify_builder_3677_row.module_row_2.module_row> div > .builder_row_cover {
	background:
}

.themify_builder .text-3677-2-0-0.module-text { text-align: center; margin-bottom: 70px;  } 
.themify_builder .service-menu-3677-sub_row_2-0-1-0-0.module-service-menu { margin-bottom: 50px;  } 
.themify_builder .service-menu-3677-sub_row_2-0-1-0-1.module-service-menu { margin-bottom: 50px;  } 
.themify_builder .service-menu-3677-sub_row_2-0-1-1-0.module-service-menu { margin-bottom: 50px;  } 
.themify_builder .service-menu-3677-sub_row_2-0-1-1-1.module-service-menu { margin-bottom: 50px;  } 
.themify_builder .service-menu-3677-sub_row_2-0-1-2-0.module-service-menu { margin-bottom: 50px;  } 
.themify_builder .service-menu-3677-sub_row_2-0-1-2-1.module-service-menu { margin-bottom: 50px;  } 
/* .themify_builder_3677_row.module_row_3 Style */
.themify_builder_3677_row.module_row_3.module_row {
	
	background-color: rgba(241,245,249, 1.00)
}

@media screen and (max-width: 680px) {
}
@media screen and (max-width: 680px) {/* .themify_builder_3677_row.module_row_3 Style */
.themify_builder_3677_row.module_row_3.module_row {
	padding-top : 50px;
	padding-bottom : 50px
}

}
.themify_builder .testimonial-slider-3677-sub_row_3-0-0-1-0.module-testimonial-slider { background-color: #; background-color: ; padding-top: 30px; padding-bottom: 30px;  } 
@media (min-width: 1025px) {
	.themify_builder_sub_row .sub_column.sub_column_post_3677.sub_column_3-0-0-0{ width: 13% !important; }
	.themify_builder_sub_row .sub_column.sub_column_post_3677.sub_column_3-0-0-1{ width: 75% !important; }
	.themify_builder_sub_row .sub_column.sub_column_post_3677.sub_column_3-0-0-2{ width: 12% !important; }
	
}
